<!DOCTYPE html>
<html>

<body>
<!--Form to input the information to add a lecturer-->
    <h2>Add Lecturer</h2>
    <form action="/addLecturer" method="POST">
        <label>ID:</label><br>
        <input type="text" id="_id" name="_id"><br>
        <label>Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label>Dept:</label><br>
        <input type="text" id="dept" name="dept"><br><br>
        <input type="submit" value="Ok">
    </form>
</body>
<!--Home button to bring user back to homepage-->
<a href="http://localhost:3000/">Home</a>
</html>