<!DOCTYPE html>
<html>

<body>

    <h2>Add Lecturer</h2>
 
    <form action="/addLecturer" method="POST">
        <label>ID:</label><br>
        <input type="text" id="sid" name="id"><br>
        <label>Name:</label><br>
        <input type="text" id="name" name="name>"><br>
        <label>GPA:</label><br>
        <input type="text" id="gpa" name="dept"><br><br>
        <input type="submit" value="Ok">
    </form>
</body>

</html>