<!DOCTYPE html>
<html>

<body>

    <h2>Add Student</h2>
 <!--Form to input the information to add a student-->
    <form action="/addStudent" method="POST">
        <label>ID:</label><br>
        <input type="text" id="sid" name="sid"><br>
        <label>Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label>GPA:</label><br>
        <input type="text" id="gpa" name="gpa"><br><br>
        <input type="submit" value="Ok">
    </form>
</body>
<!--Home button to bring user back to homepage-->
<a href="http://localhost:3000/">Home</a>
</html>