<table>
    <h1>Students</h1>
    <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>GPA</th>
    <th>Action</th>
    </tr>
    <% studentList.forEach((studentList) =>
    { %>
    <tr>
    <td><%= studentList.sid %></td>
    <td><%= studentList.name %></td>
    <td><%= studentList.gpa %></td>
    <!--<td><a href="/listStudents/delete/:sid">Delete</a></td>-->
    </tr>
    <% }) %>
</table>

<a href="http://localhost:3000/">Home</a>